{% extends 'base-admin.html.twig' %}

{% block css %}

    <link href="/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block javascripts %}

    <!-- Datatables -->
    <script src="/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

{% endblock %}

{% block body %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h1>Photos</h1>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12" style="margin-top: 10px; margin-bottom: 20px;">
                    <a href="{{ path('photo_create') }}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Add new photo</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Show photos{#<small>Users</small>#}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">
                                        <table id="datatable-keytable" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Creator</th>
                                                <th>Filename</th>
                                                <th>Image</th>
                                                <th></th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for photo in photos %}
                                                <tr>
                                                    <td>{{ photo.id }}</td>
                                                    <td>{{ photo.creator.getFirstName }} ({{ photo.creator.getId }})</td>
                                                    <td>{{ photo.filename }}</td>
                                                    <td>{{ photo.image }}</td>
                                                    <td>{{ photo.thumbnail }}</td>
                                                    <td class="text-center" width="10%">
                                                        <div></div>

                                                        <a href="{{ path('photo_show', {'photo' : photo.id}) }}" type="button" class="btn btn-primary btn-xs">Show</a>
                                                        {% if is_granted('OWNER', photo) %}
                                                            <a href="{{ path('photo_edit', {'photo' : photo.id}) }}" type="button" class="btn btn-primary btn-xs">Edit</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

{% endblock %}
