{% extends 'base-admin.html.twig' %}

{% block title %}

    Photo - view

{% endblock %}

{% form_theme userGradePhotoForm 'form/admin.html.twig' %}

{% block body %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h1>Photos</h1>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>View photo</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-3">
                                    {% if userGradePhoto is null %}
                                        {{  form_start(userGradePhotoForm) }}
                                        {{  form_widget(userGradePhotoForm) }}
                                        <div>
                                            <button class="btn btn-default submit" type="submit">Submit</button>
                                        </div>
                                        {{  form_end(userGradePhotoForm) }}
                                        {% else %}
                                            <p>You have already rated this photo with: {{ userGradePhoto.grade.grade }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-sm-9">
                                    {% if averageGrade %}
                                        <p>Current rating average: {{ averageGrade }}</p>
                                        <p>Number of ratings: {{ numberOfGradesOfPhoto }}</p>
                                        {% else %}
                                            <p>At least one rating is required to display score</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">


                                    {% if userTagPhoto is empty %}
                                        {{  form_start(userTagPhotoForm) }}
                                        {{  form_widget(userTagPhotoForm) }}
                                        <div>
                                            <button class="btn btn-default submit" type="submit">Submit</button>
                                        </div>
                                        {{  form_end(userTagPhotoForm) }}
                                    {% else %}

                                        <p>You already tagged this photo with these tags:</p>

                                        <ul>

                                        {% for tag in userTagPhoto %}

                                            <li>
                                            <strong>{{ tag.getTag.name }}</strong>{#{{ loop.last ?: ',' }}#}
                                            </li>
                                        {% endfor %}

                                        </ul>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    <!-- jQuery Tags Input -->
    <script src="/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            $("#user_tag_photo_tags").tagsInput({
                width: "auto",
            });

        });


    </script>


{% endblock %}